header{
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-left: 150px;
  /* position: relative; */

  z-index: 1;
}

.header__logo{
  width: 100px;
  margin-right: 40px;
  z-index: 1;
}

.header__home{
  width: 15px;
  margin-right: 30px;
  z-index: 1;
}

.header__mensagem{
  width: 15px;
  margin-top: 5px;
  z-index: 1;
}

.forma1{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}