main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

main h3{
  color: #fff;
  margin-top: 30px;
  font-weight: 300;
}

main p{
  color: #fff;
  width: 30%;
  text-align: center;
  margin: 20px 0;
}

.main__btn{
  text-decoration: none;
  color: #fff;
  background-color: var(--coral);
  padding: 10px 60px;
  width: 320px;
  text-align: center;
  margin: 8px 0;
  border-radius: 6px;
}

.ilustracao{
  width: 300px;
  margin-top: 40px;
}

.forma2{
  position: absolute;
  right: 0;
}