.mensagem__main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.mensagem__titulo{
  width: 450px;
  margin-top: 160px;
  margin-bottom: 30px;
}

.mensagem__form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: var(--cinza-claro-fundo);
  padding: 20px;
  border-radius: 8px;
  width: 550px;
  z-index: 30;
  height: 500px;
}

.mensagem__form label{
  color: var(--azul);
  font-weight: 500;
  font-size: 16px;
  align-items: flex-start;
  margin-bottom: 5px;
}

.mensagem__form input{
  border: none;
  padding: 15px 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  border-radius: 6px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;

}

.mensagem__form input::placeholder{
  color: var(--cinza-claro);
}

.mensagem__form a{
  margin: 20px auto;
}

@media screen and (max-width: 800px){
  .mensagem__form{
    width: 400px;
  }
}

@media screen and (max-width: 600px){
  .mensagem__form{
    width: 350px;
    z-index: 2;
  }

  .mensagem__titulo{
    width: 300px;
  }

  .cadastro__form2{
    display: none;
  }
}

